[Desktop Entry]
Type=Application
Name=Nivra
Comment=Experimental unofficial native Discord client
Exec=nivra
Icon=nivra
StartupWMClass=io.github.vitorhubdev.Nivra
Terminal=false
Categories=Network;InstantMessaging;
